@font-face {
    font-family: ros;
    src: url(../fonts/Rosario-Italic.ttf);
}

@font-face {
    font-family: vol;
    src: url(../fonts/Volkhov-Regular.ttf);
}
    
body{
    margin: 0 auto;
}

.firstpage {
    height: 100%;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 2;
}

.header-img {
    background: white;
}

.header-menu {
    display: flex;
    background: black;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 48px 0 50px 400px;
    height: 35px;
}

.header-menu p a:hover {
    color: rgba(255, 128, 9, 0.7);
}

.header-menu p a{
    text-decoration: none;
    color: white;
}

div.header-menu p {
    color: white;
    font-family: ros;
    font-size: 24px;
    align-items: center;
    margin: 0 auto;
    padding-top: 5px;
}

.gallery {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10em;
}

.firstcol {
    display: flex;
    justify-content: end;
    visibility: hidden;
    transition: all .5s;
    animation: up 0.5s linear 2s 1 forwards ;
}

.secthcol {
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.fourthcol {
    display: flex;
    justify-content: start;
    visibility: hidden;
    transition: all .5s;
    animation: up 0.5s linear 2s 1 forwards;
}

.ima {
    width: 70%;
}

.im1,.im3 {
    padding-bottom: 15px;
    visibility: hidden;
    transition: all .5s;
    animation: left 0.5s linear 1s 1 forwards;
    width: 35%;
}


@keyframes left {
    from{transform: translateX(-100vh);}
    to{transform: translateX(0);
    visibility: visible;}
}


.im2, .im4 {
    width: 40%;
    padding-bottom: 15px;
    visibility: hidden;
    transition: all .5s;
    animation: right 0.5s linear 1s 1 forwards;
}

@keyframes right {
    from{transform: translateX(100vh);}
    to{transform: translateX(0);
    visibility: visible;}
}



@keyframes up{
    from{ transform: translateY(-100vh);}
    to { transform: translateY(0);
    visibility: visible;}
}

.services {
    margin: 0;
    padding-bottom: 30px;
}

.contservices {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-top: 10px;
    align-items: center;
}

.services-left {
    width: 50%;
    z-index: 1;
}

.row1, .row2 {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
}

.services-right {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    display: block;
}

.offertext {
    font-family: ros;
    font-size: 48px;
    font-style: italic;
}

.services-left img {
    width: 100%;
    position: relative;
    object-fit: contain;
}

.sright img {
    width: 100%;
    position: relative;
    object-fit: contain;
}

.service-offer {
    border-radius: 50%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
    height: 100%;
}

.offer-photo {
    display: inline-flex;
    width: 100%;
    height: 80%;
}


.services-left>.row1 .service-offer:nth-of-type(1) {
    animation: services-1;
    animation-duration: 7s;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes services-1 {

    25% {
        transform: translate(+100%, 0%);
    }

    50% {

        transform: translate(+100%, +100%);

    }

    75% {
        transform: translate(0%, +100%);

    }

    100% {
        transform: translate(0%, 0%);
    }
}

.services-left>.row1 .service-offer:nth-of-type(2) {
    animation: services-2;
    animation-duration: 7s;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes services-2 {

    25% {
        transform: translate(0, +100%);
    }

    50% {

        transform: translate(-100%, +100%);

    }

    75% {
        transform: translate(-100%, 0%);

    }

    100% {
        transform: translate(0%, 0%);
    }
}

.services-left>.row2 .service-offer:nth-of-type(1) {
    animation: services-3;
    animation-duration: 7s;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes services-3 {

    25% {
        transform: translate(0, -100%);
    }

    50% {

        transform: translate(+100%, -100%);

    }

    75% {
        transform: translate(+100%, 0%);

    }

    100% {
        transform: translate(0%, 0%);
    }
}

.services-left .service-offer:nth-of-type(2) {
    animation: services-4;
    animation-duration: 7s;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes services-4 {

    25% {
        transform: translate(-100%, 0%);
    }

    50% {

        transform: translate(-100%, -100%);

    }

    75% {
        transform: translate(0%, -100%);

    }

    100% {
        transform: translate(0%, 0%);
    }
}

.perstitle {
    font-family: ros;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    
}

.persons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.person img {
    border-radius: 1px;
    width: 70%;
}

.persons:hover img {
    filter: brightness(40%);
}

.person:hover img {
    filter: brightness(100%);
}

.person:hover .names {
    background: rgba(163, 83, 10, 0.7);
}

.names {
    font-family: vol;
    text-align: center;
    color: white;
    font-size: 48px;
    line-height: 48px;
    height: 98px;
    margin: 0 auto;
    padding-top: 59px;
    width: 70%;
    border-radius: 0 0 25px 25px;
}

.person:hover .names {
    position: relative;
    top: -160px;
    filter: brightness(100%);
}

.lastpage {
    display: flex;
    margin: 0 10% 0 10%;
    box-sizing: border-box;
}

.leftlast {
    display: block;
    width: 50%;
    margin-right: 20px;
}

.h2 {
    font-family: ros;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.rightlast {
    height: 250px;
    width: 30%;
}

.inputs {
    width: 100%;
    height: 57%;
    background: #E5E5E5;
}

.firstrowinps {
    padding: 10px 10px 10px 10px;
}

div.firstrowinps input {
    margin: 15px;
    width: 100%;
    padding: 10px;
}

div.secrowinps input {
    width: 92%;
    margin-left: 26px;
    padding-bottom: 90px;
}

input {
    border: none;
    font-size: 25px;
    font-weight: 700;
}

.firstrowinps {
    display: flex;
}

.maps {
    margin-top: 60px;
    height: 163%;
    width: 160%;
    border: none;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    font-family: ros;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.firstcolfoot {
    padding-top: 2%;
}

div.firstcolfoot p{
    margin: 1px 0 1px 0;
}
div.secondcolfoot p{
    margin: 1px 0 1px 0;
}

.firstcolfoot a {
    text-decoration: none;
    color: black;
}

.social {
    display: flex;
}

.sright {
    width: 50%;
}

.secondcolfoot h2 {
    font-size: 30px;
}

.social img {
    padding-right: 10px;
}

.thirdcolfoot {
    text-align: center;
}

.thirdcolfoot h2 {
    margin: 0;
    padding-top: 37px;
    font-size: 30px;
}

div.thirdcolfoot .social img {
    padding-left: 40px;
}

div.thirdcolfoot .social p {
    margin: 0;
}


.ref {
    text-decoration: none;
}

.social a {
    text-decoration: none;
    color: black;
}

.social a:hover, .firstcolfoot a:hover {
    color: rgba(163, 83, 10, 0.7);
}


                /*992px*/

@media screen and (max-width: 992px) {
    .menu {
        display: block;
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 992px) {
    .firstcol {
        justify-content: center;
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .fourthcol {
        width: 50%;
        position: absolute;
        top: 10em;
        right: -2em;
    }
}

@media screen and (max-width: 992px) {
    .secthcol {
        width: 100%;
        margin-top: 2em;
    }
}

@media screen and (max-width: 992px) {
    .contservices {
        display: block;
        box-sizing: border-box;
        align-items: center;
        margin-bottom: 12em;
        
    }
}

@media screen and (max-width: 992px) {
    .services-left, .sright {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        width: 80%;
        position: relative;
    }
}

@media screen and (max-width: 992px) {
    .services-left {
        top: 65em;
    }
}

@media screen and (max-width: 992px) {
    .sright {
        top: -50em;
    }
}

@media screen and (max-width: 992px) {
    .persons {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 5em;
    }

}


@media screen and (max-width: 992px) {
    .rightlast {
        margin: 0 auto;
        margin-left: 15em;
    }
}

@media screen and (max-width: 992px) {
    .lastpage {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .leftlast {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        display: block;
        margin: 0 auto;
        margin-top: 8em;
    }

}

@media screen and (max-width: 992px) {
    .social {
        justify-content: center;
    }

}

@media screen and (max-width: 992px) {
    .header-menu {
        padding: 48px 0 50px 15px;
    }

}



            /* 768px */



@media screen and (max-width:768px) {
    .services-left {
        width: 84%;
        position: relative;
        top: 4em;
    }

}

@media screen and (max-width:768px) {
    .im1, .im2, .im3, .im4 {
        width: 70%;
        margin: 0 auto;
    }

}

@media screen and (max-width:768px) {
    .gallery {
        height: 100%;
        display: flex;
        align-items: center;
    }

}


@media screen and (max-width:768px) {
    .ima {
        margin: 0 auto;
        padding-bottom: 20px;
    }

}

@media screen and (max-width:768px) {
    .menu {
        display: block;
        margin-top: 10rem;
    }

}

@media screen and (max-width:768px) {
    .firstcol {
        display: flex;
        justify-content: start;
        width: 100%;
    }

}

@media screen and (max-width:768px) {
    .fourthcol {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
    }

}

@media screen and (max-width:768px) {
    .secthcol {
        display: flex;
        width: 100%;
        justify-content: start;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:768px) {
    .sright {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .persons {
        display: block;
    }

}

@media screen and (max-width:768px) {
    .names {
        border-radius: 0 0 55px 55px;
    }

}

@media screen and (max-width:768px) {
    .lastpage {
        display: block;
        margin-bottom: 14em;
    }

}

@media screen and (max-width:768px) {
    .leftlast {
        width: 80%;
        margin: 0 90px 0 90px;
    }

}

@media screen and (max-width:768px) {
    .rightlast {
        width: 50%;
        position: relative;
        top: -18em;
        margin: 0 auto;
        margin-left: 90px;
    }

}

@media screen and (max-width:768px) {
    .inputs {
        
        position: relative;
        top: 28em;
    }

}

@media screen and (max-width:768px) {
    .secrowinps {
        height: 140px;
    }

}

@media screen and (max-width:768px) {
    .footer {
        display: block;
    }

}

@media screen and (max-width:768px) {
    .social {
        justify-content: center;
    }

}

@media screen and (max-width: 768px) {
    .header-menu {
        padding: 48px 0 50px 10px;
    }

}

@media screen and (max-width: 768px) {
    div.header-menu p {
        font-size: 20px;
    }

}

@media screen and (min-width: 1620px) {
    header, .firstpage, .services, .fourperson, .lastpage, .footer {
        max-width: 1620px;
        margin: 0 auto;
        
    }

}